body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

/* Main elements on the page */
header {
  width: auto;
  height: 56px;
  background: white;
}

#page-content {
  display: flex;
  flex-direction: row;
  height: auto;
}

aside {
  background: tomato;
  width: 426px;
  height: 100vh;
}

section {
  background: turquoise;
  height: fit-content;
  flex-grow: 1;
  margin-left: 24px;
}

#comments {
  background: green;
  height: 400px;
  flex-grow: 1;
  width: calc(100% - 426px);
}

@media (max-width: 1000px) {
  #page-content {
    flex-direction: column;
  }

  aside {
    width: auto;
  }

  #comments {
    width: auto;
  }
}

/* Header section */

/* Logo Container */
#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  height: 20px;
  width: 90px;
  padding: 18px 14px 18px 16px;
  align-content: center;
}

#bar-3 {
  display: flex;
  height: 24px;
  width: 24px;
  padding: 8px;
}

/* Video container */
#video-container {
  padding: 24px 24px 0 0;
}

iframe {
  width: 100%;
  height: calc(100vw * 9 / 25);
}

/* About video container */
#about-video-container {
  padding: 20px 0 8px 0;
}

#video-title {
  font-weight: 400;
  font-size: 18px;
  line-height: var(header, 2.4rem);
}

#video-stats {
  height: 40px;
  display: flex;
  align-items: center;
}
#views-postdate {
  font-size: 14px;
  color: #606060;
}
